@import './mixin.scss';

// Шритф по умолчанию
$fontFamily: 'Montserrat';
$fontSize: rem(18); // где 14(px) - размер по умолчанию из макета

// Основной цвет шрифта
$mainColorFont: #000;

// Основные цвета
$mainDarkColor: #141414;

// Основня ширина шрифта
$mainFontWeight: 500;

// Настройки -----------------------------------------------------

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1600;
// Ширина ограничивающего контейнера
$maxWidthContainer: 900;
// Общий отступ у контейнера
// (15px слева и спрва)
$containerPadding: 15;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + ($containerPadding * 2);

// Брейк-поинты (при необходимости поменять на MUI)
$pc: em($containerWidth); // ПК
$tablet: em(991.98); // Планшеты
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
